<div class="max-height uk-grid-collapse" uk-grid>
  <div class="uk-flex uk-flex-center uk-width-expand yellow">
      <div class="uk-width-1-2@l uk-width-1-1@m uk-margin-large-top">
          <div class="uk-card">
            <div uk-grid>
              <div class="cd-header uk-margin-small-left uk-width-expand">
                <%= @product.title %>
              </div>
              <div class="uk-width-auto uk-padding-remove uk-margin-small-right">
                <a href="/products"><i class="fas fa-chevron-circle-left fa-2x"></i></a>
              </div>
            </div>
              
            <p class="cd-comment uk-margin-remove-top uk-margin-small-left uk-margin-small-right"><%= @product.content %></p>
            
            <div class="uk-card-media-bottom">
              <%= image_tag(@product.image_url) if @product.image? %>
              <%= image_tag @product.subimages.first.sub_image.url if @product.subimages.first.present? %>
              <%= image_tag @product.subimages.second.sub_image.url if @product.subimages.second.present? %>
              <%= image_tag @product.subimages.third.sub_image.url if @product.subimages.third.present? %>  
            </div>
            <div class="uk-flex uk-flex-center uk-margin-large-top uk-margin-large-bottom">
              <a href="https://twitter.com/art_abroad_tom?ref_src=twsrc%5Etfw"><i class="fab fa-twitter fa-2x icon"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <a href="https://www.instagram.com/tomoya.ono.tom/?ref=badge"><i class="fab fa-instagram fa-2x icon"></i></a>
              <a href="https://www.facebook.com/oh.tomoya.gogo"><i class="fab fa-facebook fa-2x icon"></i></a>
            </div>
          </div>
      </div>
  </div>  
</div>




