<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TomoyaOno|大野智也|Portfolio</title>
    
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="uikit.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ppq2xaa.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/ website#">
　　<meta property="og:url" content="http://tomoyaono.com/" />
　　<meta property="og:type" content="website" />
　　<meta property="og:title" content="My Portfolio" />
　　<meta property="og:description" content="Finally, I created my website!! I hope you enjoy watching my artworks.|ポートフォリオサイト作りました！興味ある方は是非見て下さい。" />
　　<meta property="og:site_name" content="TomoyaOno|大野智也|Portfolio" />
　　<meta property="og:image" content="http://tomoyaono.com/assets/screenshot.png" />
　　
　　<meta name="twitter:card" content="summary large image" />
　　<meta name="twitter:site" content="@art_abroad_tom" />
　　
　　<meta property="fb:app_id" content="394863324657525" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="description" content="My name is TomoyaOno. I'm majoring in Product Design at College for Creative Studies in Detroit. |　大野智也と申します。デトロイトのCollege for Creative Studiesと言う学校でプロダクトデザインを専攻しています。 " >
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
